* {
  list-style: none;
}

.navbar {
  background-color: #555;
  color: white;
  padding: 1rem 0;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0 10rem;
  justify-content: space-between;
}

.logo {
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
}

.nav-items {
  display: flex;
}

.nav-items a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-items a:hover {
  text-decoration: underline;
  color: lightgray;
  transition: all 0.2s;
}

.nav-item {
  margin-left: 2rem;
}
